#root {
  width: 100%;
  height: 100vh;
  display: flex;

  overflow: hidden;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* optional - match your app's background */
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top: 6px solid #3498db; /* color of the rotating part */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  width: 100%;
  height: 100vh;
  place-items: center;
  overflow: hidden;
  display: flex;
  position: relative;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.imageWrapper {
  /* keep square but cap size so it won't grow arbitrarily on large screens */
  width: 300px; /* min, preferred (20%), max */
  aspect-ratio: 1 / 1;
  overflow: hidden;
  flex: none;

  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .imageWrapper {
    width: 200px; /* smaller screens: 40% but bounded */
  }
}

.Image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* forces same visible size/cropping for all images */
  object-position: center center; /* keep important area centered */
  user-select: none;
  pointer-events: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  z-index: 1;
}

.question {
  position: relative;
  font-size: 25px;
  z-index: 2;
}

.yes-btn {
  z-index: 0;
  background-color: rgb(42, 148, 0);
}

.no-btn {
  background-color: rgb(148, 0, 0);
}

.yesWrapper {
  z-index: 0;
  flex: 2;
}
.noWrapper {
  z-index: 0;
  flex: 2;
}

@media screen and (max-width: 700px) {
  .imageWrapper {
    width: 200px; /* smaller screens: 40% but bounded */
  }
  .question {
    font-size: 20px;
  }
}
